{% extends "base.html" %}

{% block title %}Team and Contacts{% endblock title %}

{% block body %}

<div class="d-flex justify-content-center my-4">
    <div class="row featurette w-50">
      <div class="col-md-7">
        <h2 class="featurette-heading">Dr. Raman Meenakshi Sundaram<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Director and Principal Scientist (Biotechnology)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email: director.irri@icar.gov.in <br>
            Phone no.: 9440488043</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/Dir-1.jpg" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
  
  <hr class="featurette-divider w-50">
  
  <div class="d-flex justify-content-center">
    <div class="row featurette w-50">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Dr. Kalyani M Barbadikar<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Senior Scientist (Biotechnology)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email: kalyaniaau@gmail.com; kalyani.mb@icar.gov.in<br>
            Phone no.: 9724850169</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/Mam_1.jpg" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
  
  <hr class="featurette-divider w-50">

  <div class="d-flex justify-content-center">
    <div class="row featurette w-50">
      <div class="col-md-7">
        <h2 class="featurette-heading">Dr. Divya Kattupalli<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Senior Research Fellow (Biotechnology)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email:  divya.kattupalli9@gmail.com<br>
            Phone no.: 040-24591337</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/kd_n.JPG" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
  
  <hr class="featurette-divider w-50">
  
  <div class="d-flex justify-content-center">
    <div class="row featurette w-50">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">KM Kanika<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Project Associate-I (Bioinformatics)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email:  kanikarnaseq@gmail.com<br>
            Phone no.: 040-24591337</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/km.JPG" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
  
  <hr class="featurette-divider w-50">
  
  <div class="d-flex justify-content-center">
    <div class="row featurette w-50">
      <div class="col-md-7">
        <h2 class="featurette-heading">Nakul D Magar<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Senior Research Fellow (Biotechnology)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email: nakulmagar94@gmail.com<br>
            Phone no.: </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/ND.JPG" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider w-50">

  <div class="d-flex justify-content-center">
    <div class="row featurette w-50">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Jagadish Vemula<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Scientific administrative assistant (Biotechnology)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email:  vemulajagadish88@gmail.com<br>
            Phone no.: 040-24591337</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/vj.JPG" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider w-50">

  <div class="d-flex justify-content-center">
    <div class="row featurette w-50">
      <div class="col-md-7">
        <h2 class="featurette-heading">Gattu Niranjan<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Senior Research Fellow (Biotechnology)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email: gattuniranjans@gmail.com<br>
            Phone no.: 040-24591337</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/G-1.jpg" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider w-50">

  <div class="d-flex justify-content-center">
    <div class="row featurette w-50">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Dr. C N Neeraja<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Principle Scientist (Biotechnology)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email:  cnneeraja@gmail.com<br>
            Phone no.: 040-24591285</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/N-1.jpg" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider w-50">

  <div class="d-flex justify-content-center">
    <div class="row featurette w-50">
      <div class="col-md-7">
        <h2 class="featurette-heading">Dr. Satendra Mangrauthia<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Senior Scientist (Biotechnology)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email: skmdrr@gmail.com; Satendra.KM@icar.gov.in<br>
            Phone no.: 040-24591342</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/S-1.jpg" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider w-50">

  <div class="d-flex justify-content-center">
    <div class="row featurette w-50">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Dr. Divya Balakrishnan<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Senior Scientist (Plant Breeding and Genetics)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email:  dbiirr23@gmail.com; Divya.Balakrishnan@icar.gov.in<br>
            Phone no.: 040-24591332</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/DB-1.jpg" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>

  <hr class="featurette-divider w-50">
  <div class="d-flex justify-content-center">
    <div class="row featurette w-50">
      <div class="col-md-7">
        <h2 class="featurette-heading">Dr. Papa Rao Vaikuntapu<span class="text-muted"></span></h2>
        <p class="lead" style="color: #0056b3; font-weight: 600;">Scientist (Biotechnology)<br>
            ICAR-Indian Institute of Rice Research (ICAR-IIRR)<br>
            Hyderabad, Telangana, India<br>
            Email: paparaovaikuntapu@gmail.com<br>
            Phone no.: 040-</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/static/img/P-1.jpg" alt="Featurette Image" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
{% endblock body %}